.usage__content {
    display: flex;
    background: var(--background-gradient);
    border-radius: 1.8rem;
    margin-top: clamp(2.8rem, 9.1vw, 320px);
    padding: min(4.6rem, 3.4vw);
    justify-content: space-between;
    align-items: center;
    min-height: 299px;
  }
  .usage__content-subsection, .usage__content-img{
    flex: 1;
  }
  .usage__content-subsection p {
    color: var(--color-white);
    font-size: var(--font-200);
    margin-bottom: 0;
  
  }
  .usage__content-logos{
    text-align: center;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 20px 0;
     align-items: center;
  }

  
  .usage__content-img {
    position: relative;
  }
  .usage__content-img div{
    position: absolute;
    bottom: -8.6rem;
    right: 0;
  }
  
  @media screen and (max-width: 660px){
    .usage__content, .usage__content-logos  {
      flex-direction: column;
      justify-content: center;
  
    }
    .usage__content-img div{
      position: relative;
      inset: 0;
     
    }
    .usage__content-subsection{
      margin-bottom: 50px;
    }
   
  
  }
  